#question-one {
    display: none;
}

.answer-options {
    list-style-type: none;
<<<<<<< HEAD
}

.answer-options button:hover {
    background-color: yellow;
}

.answer-options button:focus {
    background-color: yellow;
}
=======
}
>>>>>>> 1e5d4ec5c2df0e4d3b91e66e0b653bc9da6adff3
