h1 {
    color: red;
}

#high-score, 
#question-one,
#question-two,
#question-three,
#view-score {
    display: none;
}

section {
    margin: 0 auto;
   text-align: center;
   font-size: 150%;
   max-width: 500px;
   background: bisque;
   border-radius: 5%;
   font-family: "Helvetica", "Crimson Pro", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#start-container {
    margin: 10px;
}

.answer-options {
    list-style-type: none;
}

.answer-options li:hover {
    background-color: lightskyblue;
}

.li-container {
    display: flex;
}

button {
    background-color: white;
    font-size: 120%;
    margin: 5px;
}